* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #26313a; /* Dark Slate */
  color: #fbfcfc; /* Light Gray */
  font-family: 'Sono', sans-serif;
  /* overflow-x:auto;
  overflow-y: auto; */
  padding: 48px 64px 0;
}

::-webkit-scrollbar {
  width: 20px; /* Set width for vertical scrollbar */
}

.hidden {
  display: none !important;
}

.message {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  margin-top: 24px;
}

.disputed {
  color: #e74c3c; /* Red for disputed */
  font-weight: 600;
  margin-right: 10px;
}

/* MAIN LAYOUT */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
  height: calc(100vh - 48px - 68px - 40px);
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
    height: auto;
  }
}

section {
  overflow: scroll;
  padding-bottom: 40px;
}

/* ELEMENTS */
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #212830; /* Slate Gray */
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: 0px;
  border-radius: 16px;
  width: 70%;
  /* display: flex; */
  float: left;
  align-items: center;
  gap: 24px;
}
.fact:hover,
.fact:active {
  background-color: #354042; /* Muted Teal */
  /* font-weight: bolder; */
  cursor: pointer;
  
}
@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Coiny', sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

.fact-wrapper{
  margin-left: auto;
  margin-right: auto; 
  height: auto;
  width: auto;
  position: relative;
  justify-content: center;

  
}
.fact-desc{
  float: left;
  /* z-index: 1; */
}

.vote-buttons {
  display: flex;
  width: 100%;
  gap: 8px;
}

.vote-buttons button {
  flex: 1;
  border: none;
  background-color: #1F8A9E; /* Brighter Teal */
  font-size: 18px;
  padding: 10px 5px;
  border-radius: 5px;
  color: #FFFFFF; /* White */
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.vote-buttons button:hover {
  background-color: #2CA8B3; /* Lighter Teal */
  transform: translateY(-2px); /* Lift effect */
}

.vote-buttons button:disabled {
  background-color: #BDC3C7; /* Gray */
}

ul {
  list-style: none;
}


.source:link,
.source:visited {
  color: #124E66; /* Teal */
  text-decoration: none;
  font-weight: bold;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #748D92; /* Muted Teal */
  font-weight: bolder;
}

.btn {
  border: none;
  font-family: 'Coiny', sans-serif;
  line-height: 1;
  
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-color: #1F8A9E; /* Brighter Teal */
  color: #FFFFFF; /* White */
  border-radius: 100px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.btn:hover {
  background-color: #2CA8B3; /* Lighter Teal */
  transform: translateY(-2px); /* Lift effect */
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
  font-weight: bolder;
}

.btn-category {
  width: 100%;
  background-image: none;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* FORM */
.fact-form {
  background-color: #2E3944; /* Slate Gray */
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #BDC3C7; /* Gray */
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #7f8c8d; /* Placeholder color */
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body {
    /* padding: 32px 48px; */
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

/* MODAL */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #525659; /* Slate Gray */
  padding: 20px;
  border: 1px solid #BDC3C7; /* Gray */
  width: 50%;
  max-width: 50%;
  height: 40%;
  position: relative;
  color: #D3D9D4; /* Light Gray */
}
.comment-form{
  height: 100%;
  margin-top: 30px;
  max-height: 100%;
  width: 100%;
}
.comment-text{
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.close {
  color: #D3D9D4; /* Light Gray */
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #124E66; /* Teal */
  text-decoration: none;
  cursor: pointer;
}
.source:link,
.source:visited {
  color: #D3D9D4; /* Light Gray */
  text-decoration: underline; /* Add underline for visibility */
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: #748D92; /* Muted Teal */
}
